{% extends 'dashboard/base.html' %}
{% load static %}

<!-- title -->
{% block title %} Questions &mdash; Dreamworks Training {% endblock %}


<!-- content -->
{% block content %}

<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Questions</h1>

    </div>

    <div class="section-body">


      <div class="row">
        {% if questions %}
             {% for question in questions %}
              <div class="col-lg-6">
                  <div class="card card-large-icons">

                    <div class="card-body">
                      <h4>{{ question.title }}</h4>
                      <li class="media mt-3 mb-2">
                        <img alt="image" class="mr-2 rounded-circle" width="40" height="40" src="{{ question.user.profile.image.url }}">
                        <div class="media-body">
                          <div class="mt-2 mb-1 font-weight-bold">{{ question.user.last_name }} {{ question.user.first_name }}
                          </div>
                        </div>
                      </li>
                      <p>{{ question.Question }}</p>
                      <a href="{% url 'question_detail' question.id %}" class="card-cta">View Answers<i class="fas fa-chevron-right"></i></a>
                    </div>
                  </div>
            </div>
           {% endfor %}
        {% endif %}
      </div>
    </div>
</div>
</section>
</div>


{% endblock %}